#map { 
	height: 400px; 
}

map {
	width:200px;
	height: 200px;
	display:block;
}

.chartContainer {
	width: 100%;
	position:relative;
}

bar {
		position: absolute;
		background-color: #FAA61A;
		text-align: center;
		color: rgba(255,255,255,.9);
		text-shadow: none;
		font-size:13pt;
		font-weight:700;
		transition: .25s all;
		line-height:1.5em;
		vertical-align:bottom;
		font-family: "Open Sans", Helvetica, sans-serif;
	}